<a href="https://colab.research.google.com/github/mounilgarg/dataMining/blob/main/Androsensor3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import csv
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
from collections import defaultdict

In [13]:
strolling=pd.read_csv('/content/drive/MyDrive/csvData/strolling_loc.csv')
strolling.head()
# print(strolling)

,ACCELEROMETER X (m/s²),ACCELEROMETER Y (m/s²),ACCELEROMETER Z (m/s²),SOUND LEVEL (dB),LOCATION Latitude :,LOCATION Longitude :,LOCATION Altitude ( m),LOCATION Altitude-google ( m),LOCATION Speed ( Kmh),LOCATION Accuracy ( m),LOCATION ORIENTATION (°),Satellites in range,Time since start in ms,YYYY-MO-DD HH-MI-SS_SSS
0,0.16281,6.07648,7.70454,42.1352,30.752634,76.756840,1011.935,NaN,NaN,43.054840,NaN,0 / 0,22,2022-05-24 23:20:43:215
1,11.98537,0.63207,-6.40210,53.6647,30.752605,76.756874,958.065,NaN,8.316,48.387096,181.0,6 / 15,50023,2022-05-24 23:21:33:216
2,3.60567,-2.28886,2.59053,42.1967,30.752630,76.756860,977.419,NaN,10.296,75.806450,174.0,0 / 13,100022,2022-05-24 23:22:23:215
3,6.37337,-7.58483,-1.29766,58.5134,30.752583,76.756780,958.065,NaN,0.216,12.903226,111.2,18 / 25,150022,2022-05-24 23:23:13:215
4,6.37815,-7.25443,-1.53708,57.6755,30.752583,76.756780,958.065,NaN,0.000,11.290322,0.0,16 / 20,200022,2022-05-24 23:24:03:215

In [19]:
print(strolling.columns)
print(strolling['LOCATION Latitude : '][0])

Index(['ACCELEROMETER X (m/s²)', 'ACCELEROMETER Y (m/s²)',
       'ACCELEROMETER Z (m/s²)', 'SOUND LEVEL (dB)', 'LOCATION Latitude : ',
       'LOCATION Longitude : ', 'LOCATION Altitude ( m)',
       'LOCATION Altitude-google ( m)', 'LOCATION Speed ( Kmh)',
       'LOCATION Accuracy ( m)', 'LOCATION ORIENTATION (°)',
       'Satellites in range', 'Time since start in ms ',
       'YYYY-MO-DD HH-MI-SS_SSS'],
      dtype='object')
30.752634

In [20]:
from math import radians, cos, sin, asin, sqrt

def haversine(lat1, lon1, lat2, lon2):

      R = 3959.87433 # this is in miles.  For Earth radius in kilometers use 6372.8 km

      dLat = radians(lat2 - lat1)
      dLon = radians(lon2 - lon1)
      lat1 = radians(lat1)
      lat2 = radians(lat2)

      a = sin(dLat/2)**2 + cos(lat1)*cos(lat2)*sin(dLon/2)**2
      c = 2*asin(sqrt(a))

      return R * c

# Usage
lon1 = strolling['LOCATION Longitude : '][0]
lat1 = strolling['LOCATION Latitude : '][0]
lon2 = strolling['LOCATION Longitude : '][len(strolling)-1]
lat2 = strolling['LOCATION Latitude : '][len(strolling)-1]

totalDist=(haversine(lat1, lon1, lat2, lon2))/(len(strolling))
print(totalDist)

0.0010725464674998582

In [24]:
dist=list()
for i in range(0,len(strolling)-1):
  lon1 = strolling['LOCATION Longitude : '][i]
  lat1 = strolling['LOCATION Latitude : '][i]
  lon2 = strolling['LOCATION Longitude : '][i+1]
  lat2 = strolling['LOCATION Latitude : '][i+1]

  dist.append(haversine(lat1, lon1, lat2, lon2))
dist=np.array(dist)
print(sum(dist))
# print(totalDist)

0.12584886374647233